@using CheeseMVC.ViewModels;
@model EditCheeseViewModel

<h1>Edit Cheese @Model.Name (id=@Model.CheeseId)</h1>

<form asp-controller="Cheese" asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedCheeseCategoryID"></label>
        <select asp-for="SelectedCheeseCategoryID" asp-items="Model.CheeseCategories"></select>
        <span asp-validation-for="SelectedCheeseCategoryID"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating"></label>
        <input type="number" min="1" max="5" asp-for="Rating" />
        <span asp-validation-for="Rating"></span>
    </div>
    <div class="form-group">
        <label asp-for="Odor"></label>
        <input type="text" asp-for="Odor" />
        <span asp-validation-for="Odor"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input type="number" asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </div>
    <input type="hidden" asp-for="CheeseId" />
    <input type="submit" value="Save Cheese" />
</form>