@{
    Layout = null;

//    View data should be created in the controller
//    List<string> cheeses = new List<string>();
//    cheeses.Add("Cheddar");
//    cheeses.Add("Munster");
//    cheeses.Add("Parmesan");
}

<h1>MyCheeses</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}

<ul>
    @foreach (string cheese in ViewBag.cheeses)
    {
        <li>@cheese</li>
    }
</ul>

